<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Slot : <%= slotNumber %> </h3>
    
    <p>Booked on </p>
    <div><%= day %></div>
    <div><%= date %></div>
    <div><%= bookingTime %></div>
    <div>Estimated time to leave </div>
    <p><%= predictedExitTime %></p>
    <p>⏳ Time Left: <strong><%= timeLeft %></strong></p>

</body>
</html>