<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Slot Availibility</title>
    <link rel="stylesheet" href="/css/parking-slot.css">
</head>
<body>
    <h1>Parking Slot Availability</h1>
    <div id="block-name">
    </div>
     
    <div id="parking-slot">
        <% if (slots.length === 0) { %>
            <p>No slots available.</p>
        <% } else { %>
            <% slots.forEach(slot => { %>
                <div class="slot <%= slot.isBooked ? 'occupied' : 'available' %>">
                    <span><%= slot.slotNumber %></span>
                    <span id="time-left-<%= slot.slotNumber %>">
                        <% if (slot.isBooked) { %>
                            <span class="time-left" id="time-left-<%= slot.slotNumber %>">Loading...</span>
                        <% } %>
                    </span>
                    <% if (!slot.isBooked) { %>
                        <form action="/next" method="POST">
                            <input type="hidden" name="slotNumber" value="<%= slot.slotNumber %>">
                            <button type="submit" class="book-btn">Book</button>
                        </form>
                    <% } else { %>
                        
                    <%}%>
                </div>
            <% }); %>
        <% } %>
    </div>
    <script src="/js/parking-slot.js"></script>
</body>
</body>
</html>
